<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="page-header">Bid</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">


            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Bid for new job
                </div>
                <div class="card-body">
                    <form [formGroup]="jobForm" id="jobFormId">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Customer Information</h6>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="name">Job Name</label>
                                <input #firstControl class="form-control" id="name" type="text" name="name"
                                    formControlName="name" [ngClass]="{'is-invalid': submitted && form.name.errors}">
                                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                    <div *ngIf="form.name.errors.required">Name is required</div>
                                    <div *ngIf="form.name.errors.maxlength">Maximum 100 characters are allowed
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="customerAddress">Customer Address</label>
                                <input class="form-control" id="customerAddress" type="text" name="customerAddress"
                                    formControlName="customerAddress"
                                    [ngClass]="{'is-invalid': submitted && form.customerAddress.errors}" />
                                <div *ngIf="submitted && form.customerAddress.errors" class="invalid-feedback">
                                    <div *ngIf="form.customerAddress.errors.maxlength">Maximum 100 characters are
                                        allowed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-30">
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="contactName">Contact Name</label>
                                <input #firstControl class="form-control" id="contactName" type="text"
                                    name="contactName" formControlName="contactName"
                                    [ngClass]="{'is-invalid': submitted && form.contactName.errors}">
                                <div *ngIf="submitted && form.contactName.errors" class="invalid-feedback">
                                    <div *ngIf="form.contactName.errors.maxlength">Maximum 100 characters are allowed
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="customerPhone">Customer Phone</label>
                                <input class="form-control" id="customerPhone" type="text" name="customerPhone"
                                    formControlName="customerPhone" mask="(000) 000-0000"
                                    [ngClass]="{'is-invalid': submitted && form.customerPhone.errors}">
                                <div *ngIf="submitted && form.customerPhone.errors" class="invalid-feedback">
                                    <div *ngIf="form.customerPhone.errors.maxlength">Maximum 14 characters are allowed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Job Type Information</h6>
                                <hr>
                            </div>
                        </div>
                        <div class="row margin-bottom-30">
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="jobTypeId">Type</label>
                                <select #firstControl class="form-control" id="jobTypeId" type="text" name="jobTypeId"
                                    formControlName="jobTypeId"
                                    [ngClass]="{'is-invalid': submitted && form.jobTypeId.errors}">
                                    <option value="">-- Select Type --</option>
                                    <ng-container *ngFor="let item of jobTypes">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                                <div *ngIf="submitted && form.jobTypeId.errors" class="invalid-feedback">
                                    <div *ngIf="form.jobTypeId.errors.required">Type is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Extra Information</h6>
                                <hr>
                            </div>
                        </div>
                        <div class="row margin-bottom-30">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label class="form-col-form-label" for="notes">Notes</label>
                                <textarea class="form-control" id="notes" type="text" name="notes"
                                    formControlName="notes" [ngClass]="{'is-invalid': submitted && form.notes.errors}">
                                    </textarea>
                                <div *ngIf="submitted && form.notes.errors" class="invalid-feedback">
                                    <div *ngIf="form.notes.errors.maxlength">Maximum 1000 characters are allowed
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <app-job-part-list #jobPartList></app-job-part-list>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-success margin-bottom-10 full-width"
                        (click)="saveJob()">
                        <i class="fa fa-dot-circle-o"></i>Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>