<app-advanced-search #advancedSearch (search)="applyAdvancedSearch($event)" class="d-print-none">
</app-advanced-search>
<div class="animated fadeIn">
    <div class="row d-print-none">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h4 class="page-header float-left">Jobs</h4>
            <div class="btn-group float-left margin-bottom-10 full-width" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    {{jobType.name}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let item of jobTypes">
                        <a class="dropdown-item" (click)="onJobTypeSelect(item)">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 margin-bottom-10">
            <div class="col-form-label float-right">
                <div class="form-check form-check-inline mr-2">
                    <input class="form-check-input" id="activeJobs" name="job-filter" [(ngModel)]="jobFilterOption"
                        type="radio" value="1" (change)="getList()">
                    <label class="form-check-label" for="activeJobs">Active</label>
                </div>
                <div class="form-check form-check-inline mr-2">
                    <input class="form-check-input" id="readyToBillJobs" name="job-filter" [(ngModel)]="jobFilterOption"
                        type="radio" value="2" (change)="getList()">
                    <label class="form-check-label" for="readyToBillJobs">Ready to Bill</label>
                </div>
                <div class="form-check form-check-inline mr-2">
                    <input class="form-check-input" id="invoicedJobs" name="job-filter" [(ngModel)]="jobFilterOption"
                        type="radio" value="3" (change)="getList()">
                    <label class="form-check-label" for="invoicedJobs">Invoiced</label>
                </div>
                <div class="form-check form-check-inline mr-2">
                    <input class="form-check-input" id="openJobs" name="job-filter" [(ngModel)]="jobFilterOption"
                        type="radio" value="4" (change)="getList()">
                    <label class="form-check-label" for="openJobs">Open</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-print-none">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 margin-top-10 margin-bottom-10">
                            <button class="btn btn-primary margin-bottom-10 full-width" type="button"
                                (click)="openAdvancedSearch()">
                                <i class="fa fa-search"></i>
                                Advanced Search
                            </button>
                            <button *ngIf="isAdvancedSearch" class="btn btn-danger margin-bottom-10 full-width"
                                type="button" (click)="clearAdvancedSearch()">
                                <i class="fa fa-times"></i>
                                Clear Search
                            </button>
                            <button class="btn btn-success" type="button" onclick="window.print();"><i
                                    class="fa fa-print"></i>Print</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 margin-top-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Job No."
                                    [(ngModel)]="searchTerm" (keydown.enter)="getList()" />
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="getList()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="d-none d-print-block">
                        <span *ngIf="jobFilterOption == '1'">
                            Active
                        </span>
                        <span *ngIf="jobFilterOption == '2'">
                            Ready to Bill
                        </span>
                        <span *ngIf="jobFilterOption == '3'">
                            Invoiced
                        </span>
                        <span *ngIf="jobFilterOption == '4'">
                            Open
                        </span>
                        - {{jobType.name}} Jobs
                    </h3>
                    <table class="table table-responsive custom-strips table-bordered">
                        <thead>
                            <tr>
                                <th class="width-5">Job No.</th>
                                <th class="width-10">Job Name</th>
                                <th class="width-15">Address</th>
                                <th class="width-15">Phone</th>
                                <th class="width-10">{{jobExtraColumns.column1.name}}</th>
                                <th class="width-10">{{jobExtraColumns.column2.name}}</th>
                                <th class="width-10">{{jobExtraColumns.column3.name}}</th>
                                <th class="width-10">{{jobExtraColumns.column4.name}}</th>
                                <th class="width-10">{{jobExtraColumns.column5.name}}</th>
                                <th class="width-5 center d-print-none">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of datasource">
                                <tr>
                                    <td rowspan="2">{{data.id}}</td>
                                    <td rowspan="2">
                                        <a class="text-primary cursor-pointer d-print-none"
                                            (click)="redirectToView(data.id)">{{data.name}}</a>
                                        <span class="d-none d-print-block">{{data.name}}</span>
                                    </td>
                                    <td rowspan="2">{{data.customerAddress}}</td>
                                    <td rowspan="2">{{data.customerPhone| mask: '(000) 000-0000'}}</td>
                                    <td>{{data.column1Status}}</td>
                                    <td>{{data.column2Status}}</td>
                                    <td>{{data.column3Status}}</td>
                                    <td>{{data.column4Status}}</td>
                                    <td>{{data.column5Status}}</td>
                                    <td rowspan="2" class="center d-print-none">
                                        <button class="btn btn-sm btn-success" type="button"
                                            (click)="redirectToUpdate($event, data.id)">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{data.column1Worker}}</td>
                                    <td>{{data.column2Worker}}</td>
                                    <td>{{data.column3Worker}}</td>
                                    <td>{{data.column4Worker}}</td>
                                    <td>{{data.column5Worker}}</td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="datasource.length==0">
                                <td colspan="10">No records found.</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="perPage"
                        [(ngModel)]="currentPage" [maxSize]="maxSize" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" (pageChanged)="getList($event)" class="d-print-none">
                    </pagination>
                    <app-pagination-details [currentPage]="currentPage" [perPage]="perPage" [totalItems]="totalItems"
                        class="d-print-none">
                    </app-pagination-details>
                </div>
            </div>
        </div>
    </div>
</div>