<div class="animated fadeIn" *ngIf="!!job">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="page-header">{{jobType.name}} Job : #{{job.id}}</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 d-print-none">
            <button class="btn btn-primary pull-right margin-bottom-10 full-width" type="button" (click)="backToList()">
                <i class="fa fa-arrow-left"></i>Back to list
            </button>
            <button class="btn btn-success pull-right margin-right-10 margin-bottom-10 full-width" type="button"
                onclick="window.print();">
                <i class="fa fa-print"></i>Print
            </button>
            <button class="btn btn-success pull-right margin-right-10 margin-bottom-10 full-width" type="button"
                (click)="redirectToUpdate();">
                <i class="fa fa-pencil"></i>Update
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Customer Name :</h6>
                        <label class="col-md-9 col-form-label">{{job.customerName}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Customer Address :</h6>
                        <label class="col-md-9 col-form-label">
                            {{job.customerAddress ? job.customerAddress : '-'}}
                        </label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Customer Phone :</h6>
                        <label class="col-md-9 col-form-label"
                            *ngIf="job.customerPhone">{{job.customerPhone | mask: '(000) 000-0000' }}</label>
                        <label class="col-md-9 col-form-label" *ngIf="!job.customerPhone">-</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column1.name}} Status :</h6>
                        <label class="col-md-9 col-form-label">{{getStatusName(jobExtraColumns.column1)}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column1.name}} Worker :</h6>
                        <label class="col-md-9 col-form-label">{{getWorkerName(jobExtraColumns.column1)}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column2.name}} Status :</h6>
                        <label class="col-md-9 col-form-label">{{getStatusName(jobExtraColumns.column2)}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column2.name}} Worker :</h6>
                        <label class="col-md-9 col-form-label">{{getWorkerName(jobExtraColumns.column2)}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column3.name}} Status :</h6>
                        <label class="col-md-9 col-form-label">{{getStatusName(jobExtraColumns.column3)}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column3.name}} Worker :</h6>
                        <label class="col-md-9 col-form-label">{{getWorkerName(jobExtraColumns.column3)}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column4.name}} Status :</h6>
                        <label class="col-md-9 col-form-label">{{getStatusName(jobExtraColumns.column4)}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">{{jobExtraColumns.column4.name}} Worker :</h6>
                        <label class="col-md-9 col-form-label">{{getWorkerName(jobExtraColumns.column4)}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Active :</h6>
                        <label class="col-md-9 col-form-label">{{job.active === true ? 'Yes' : 'No'}}</label>
                    </div>
                    <div class="form-group row" *ngIf="job.active">
                        <h6 class="col-md-3 col-form-label">Bid Accepted Date :</h6>
                        <label class="col-md-9 col-form-label">{{job.bidAcceptedDate | date: 'MM/dd/yyyy'}}</label>
                    </div>
                    <div class="form-group row" *ngIf="job.active">
                        <h6 class="col-md-3 col-form-label">Job Active Date :</h6>
                        <label class="col-md-9 col-form-label">{{job.jobActiveDate | date: 'MM/dd/yyyy'}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Ready to Bill :</h6>
                        <label class="col-md-9 col-form-label">{{job.readyToBill === true ? 'Yes' : 'No'}}</label>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Invoiced :</h6>
                        <label class="col-md-9 col-form-label">{{job.invoiced === true ? 'Yes' : 'No'}}</label>
                    </div>
                    <div class="form-group row" *ngIf="job.invoiced">
                        <h6 class="col-md-3 col-form-label">Job Invoice Date :</h6>
                        <label class="col-md-9 col-form-label">{{job.jobInvoiceDate | date: 'MM/dd/yyyy'}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Notes :</h6>
                        <label class="col-md-9 col-form-label"
                            style="white-space: pre-wrap;">{{job.notes ? job.notes : '-'}}</label>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <h6 class="col-md-3 col-form-label">Parts :</h6>
                    </div>
                    <table class="table table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="width-30">Part</th>
                                <th class="width-10 right">Quantity</th>
                                <th class="width-10 right">Price</th>
                                <th class="width-10 right">Total Price</th>
                                <th class="width-10 right">Crew Cost</th>
                                <th class="width-15 right">Total Crew Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of job.jobParts">
                                <td>{{data.part.description}}</td>
                                <td class="right">{{data.quantity}}</td>
                                <td class="right">{{data.part.averagePrice}}</td>
                                <td class="right">{{data.quantity * data.part.averagePrice}}</td>
                                <td class="right">{{data.part.crewCost}}</td>
                                <td class="right">{{data.quantity * data.part.crewCost}}</td>
                            </tr>
                            <tr *ngIf="job.jobParts && job.jobParts.length==0">
                                <td colspan="7">No records added.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>