<app-loader></app-loader>
<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', height: 50, alt: 'Gourley Plastering, Inc'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 30, height: 30, alt: 'Gourley Plastering, Inc'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false" [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <app-user-image [imageUrl]="imageUrl"></app-user-image>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" [routerLink]="['/users/myprofile']" routerLinkActive="router-link-active"><i
            class="fa fa-user"></i> My Profile</a>
        <a class="dropdown-item" [routerLink]="['/users/changepassword']" routerLinkActive="router-link-active"><i
            class="fa fa-key"></i> Change Password</a>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span>Gourley Plastering &copy; {{copyRightYear}}</span>
  <span class="ml-auto">Powered by <a href="http://techgroot.com" target="_blank">Techgroot Consultancy
      Services</a></span>
</app-footer>