<div class="animated fadeIn">
  <h4 class="page-header">Dashboard</h4>
  <div class="card">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 margin-bottom-20">
          <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="onMonthChange()">
              Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
              Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="onMonthChange()">
              Next
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 margin-bottom-20">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 margin-bottom-20">
          <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month">
              Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week">
              Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
              Day
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-bottom-20">
        <div class="col-lg-12 col-md-12 col-sm-12 align-center">
          <div class="legend" [style.background-color]="'#ad2121'"></div>
          <span class="legend-label">Drywall</span>
          <div class="legend" [style.background-color]="'#1e90ff'"></div>
          <span class="legend-label">Stone</span>
          <div class="legend" [style.background-color]="'#e3bc08'"></div>
          <span class="legend-label">Stucco</span>
          <div class="legend" [style.background-color]="'#2C7A7E'"></div>
          <span class="legend-label">Metal Framing</span>
        </div>
      </div>

      <mwl-calendar-month-view *ngIf="view === CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent($event.event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngIf="view === CalendarView.Week" [viewDate]="viewDate" [events]="events"
        (eventClicked)="handleEvent($event.event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngIf="view === CalendarView.Day" [viewDate]="viewDate" [events]="events"
        (eventClicked)="handleEvent($event.event)">
      </mwl-calendar-day-view>
    </div>
  </div>
</div>