<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="page-header">Change Password</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="" [formGroup]="changePasswordForm" (submit)="changePassword()">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Change current password
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="oldPassword">Current Password</label>
                                <input #firstControl class="form-control" id="oldPassword" type="password"
                                    name="oldPassword" formControlName="oldPassword"
                                    [ngClass]="{'is-invalid': submitted && form.oldPassword.errors}">
                                <div *ngIf="submitted && form.oldPassword.errors" class="invalid-feedback">
                                    <div *ngIf="form.oldPassword.errors.required">Current Password is required</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="newPassword">New Password</label>
                                <input class="form-control" id="newPassword" type="password" name="newPassword"
                                    formControlName="newPassword"
                                    [ngClass]="{'is-invalid': submitted && form.newPassword.errors}">
                                <div *ngIf="submitted && form.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="form.newPassword.errors.required">New Password is required</div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                <label class="form-col-form-label" for="confirmPassword">Confirm Password</label>
                                <input class="form-control" id="confirmPassword" type="password" name="confirmPassword"
                                    formControlName="confirmPassword"
                                    [ngClass]="{'is-invalid': submitted && form.confirmPassword.errors}">
                                <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="form.confirmPassword.errors.mustMatch">Confirm Password must match with
                                        Password</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success margin-bottom-10 full-width">
                            <i class="fa fa-dot-circle-o"></i>Submit
                        </button>
                        <button type="button" class="btn btn-sm btn-danger full-width" (click)="resetForm()">
                            <i class="fa fa-ban"></i>Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>