// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import "../node_modules/angular-calendar/scss/angular-calendar.scss";

// If you want to add something do it here
@import "custom";
.btn-danger {
    color: #fff;
    background-color: #d63837;
    border-color: #da1211;
}
.nav-dropdown .nav-dropdown-items .nav-item .nav-link{
    padding-left: 40px;
}